#esta es la primera vez que hago esto ojala no pase nada malo 
#diosito normal no te pido nada pero por favor ayuda

public/
yarn.lock


# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules/
bower_components

*.sublime*

psd
thumb
sketch
# End of https://www.toptal.com/developers/gitignore/api/react